/* Las fuentes (Raleway y Boldonse) se cargan con <link> en los layouts */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu CSS */
body {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}


.bg-dot-pattern {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 10px 10px;
  opacity: 0.4;
}
