---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Experiencia from "../components/Experiencia.astro";
import Profile from "../components/Profile.astro";
import Contact from "../components/Contact.astro";
import Habilidades from "../components/Habilidades.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mateo Zubieta Portfolio">
  <Header />

  <section class="lg:mt-20 mt-10">
    <div class="flex mx-4 lg:mx-14 lg:flex-row flex-col items-start">
      <Profile />
      <div
        class="lg:w-2/4 lg:ml-auto flex flex-col items-start mt-6 lg:overflow-y-auto overflow-y-visible lg:h-[800px] h-auto"
        style={{ scrollBehavior: "smooth", scrollbarWidth: "none" }}
      >
        <Contact />
        <div class="w-full h-0.5 bg-linen my-4 lg:mr-12"></div>

        <Experiencia />

        <Habilidades />
      </div>
    </div>
  </section>
  <Footer />
</Layout>
