---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mateo Zubieta Portfolio">
  <h1>Mi portafolio</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit,
    perspiciatis sint facilis enim amet reiciendis sunt deserunt mollitia
    provident vel hic deleniti. Ducimus dolor odio est quae atque fugiat vitae
    veniam? Ducimus vel adipisci deleniti, maxime vitae eligendi?
  </p>
</Layout>
