<div class="flex flex-col md:w-80" id="about">
  <h1 class="font-rollestone md:text-3xl text-lg">
    Apasionado por resolver Problemas y Crear Soluciones Tecnologicas
  </h1>
  <div
    class="flex justify-evenly items-start mt-5 md:flex-row flex-col "
  >
    <a
      class="hover:bg-white hover:text-black bg-black text-white rounded-2xl py-1 px-5 my-3 space-x-10"
      href="https://github.com/MattZub13"
      ><i class="fa-brands mr-2 fa-linkedin"></i>Linkedin</a
    >
    <a
      class="hover:bg-white hover:text-black bg-black text-white rounded-2xl py-1 px-5 my-3 space-x-5"
      href="https://www.linkedin.com/in/eduardo-mateo-zubieta-yucra-6b47aa252/"
      ><i class="fa-brands mr-2 fa-github"></i>Github</a
    >
    <a
      class="hover:bg-white hover:text-black bg-black text-white rounded-2xl py-1 px-5 my-3 space-x-5"
      href="/CV.pdf"
      download="Zubieta_Mateo_CV.pdf">Mi CV</a
    >
  </div>
</div>
