<section id="experiencia" class="scroll-smooth w-full">
  <div class="w-full h-0.5 bg-linen my-4 mr-12"></div>
  <h1 class="font-rollestone text-xl">Mi Experiencia Laboral</h1>
  <div class="flex flex-col items-center lg:w-full text-sm">
    <div
      class="bg-white flex justify-between items-center p-5 my-3 rounded-full border-2 border-linen w-full"
    >
      <div
        class="h-16 w-16 bg-floral_white-500 p-4 rounded-full flex justify-center items-center border border-linen"
      >
        <img
          src="./labLogo.webp"
          alt="logo lab"
          class="w-full h-full object-contain"
        />
      </div>

      <div class="flex flex-col justify-center">
        <p>Pasante del Proyecto Ciudatos</p>
        <p class="font-bold">Laboratorio Tecno Social</p>
      </div>

      <div class="flex items-center">
        <p>Feb 14 2023-Presente</p>
      </div>
    </div>

    <div
      class="bg-white flex justify-between p-5 my-3 rounded-full border-2 border-linen w-full"
    >
      <div
        class="h-16 w-16 bg-floral_white-500 p-4 rounded-full flex justify-center items-center border border-linen"
      >
        <img
          src="./UN3.webp"
          alt="logo lab"
          class="w-full h-full object-contain"
        />
      </div>
      <div class="flex flex-col justify-center">
        <p>Desarrollo de Software ERP</p>
        <p class="font-bold">Constructora UNTRES.SRL</p>
      </div>

      <div class="flex items-center">
        <p>Ene 27 2024-Presente</p>
      </div>
    </div>
  </div>
</section>
