<footer class="text-center font-rollestone text-linen-300 mt-3">
  <p class="text-lg">
    Inspirado por <span class="font-bold">Syahrul Falah</span>
  </p>
  <p>
    Made with <span class="font-bold">Astro</span> y <span class="font-bold"
      >Tailwind</span
    >
  </p>
</footer>
