<section id="habilidades" class="scroll-smooth w-full mt-5">
  <div class="w-full h-0.5 bg-linen my-4 mr-12"></div>
  <h1 class="font-rollestone text-xl">Que se hacer</h1>
  <div class="flex flex-col w-auto text-sm mt-4 space-y-8">
    <div class="flex bg-white border border-linen rounded-3xl">
      <div class="p-5 w-1/5">
        <i
          class="fa-solid fa-cube text-3xl bg-floral_white-700 p-3 border border-linen rounded-full"
        ></i>
      </div>

      <div class="pt-5 w-4/5">
        <h1 class="font-rollestone text-xl">Dise単o de aplicaciones Backend</h1>
        <p>
          Tengo experiencia montando aplicaiones Rest API, con lenguajes como <span
            class="font-bold">Java, PHP, Python,</span
          > entre otros.
        </p>
      </div>
    </div>

    <div class="flex bg-white border border-linen rounded-3xl">
      <div class="p-5 w-1/5">
        <i
          class="fa-regular fa-window-restore text-3xl bg-floral_white-700 p-3 border border-linen rounded-full"
        ></i>
      </div>

      <div class="pt-5 w-4/5">
        <h1 class="font-rollestone text-xl">Dise単o de aplicaciones Frontend</h1>
        <p>
          Con los a単os que pase en la universidad aprendi las nociones basicas
          de las aplicaciones del lado del cliente dominando librerias y
          frameworks como <span class="font-bold">React o Astro</span>.
        </p>
      </div>
    </div>

    <div class="flex bg-white border border-linen rounded-3xl">
      <div class="p-5 w-1/5">
        <i
          class="fa-regular fa-window-restore text-3xl bg-floral_white-700 p-3 border border-linen rounded-full"
        ></i>
      </div>

      <div class="pt-5 w-4/5">
        <h1 class="font-rollestone text-xl">Analisi de Datos</h1>
        <p>
          Con los a単os que pase en la universidad aprendi las nociones basicas
          de las aplicaciones del lado del cliente dominando librerias y
          frameworks como <span class="font-bold">React o Astro</span>.
        </p>
      </div>
    </div>
  </div>
</section>
