<header class="font-nimbus sticky top-0 z-50 bg-floral_white-500">
  <nav
    class="flex md:ml-10 items-center justify-between animate-fade-down animate-duration-[2000ms]"
  >
    <div class="md:w-1/12 w-1/3">
      <a href="#profile"
        ><img
          src="./logo1.svg"
          alt="logo1"
          class="sm:h-32 sm:w-32 h-16 w-16"
        /></a
      >
    </div>
    <div class="md:w-7/12 w-1/3">
      <ul
        class="flex justify-around lg:text-2xl text-sm items-center md:flex-row flex-col max-[400px]:mt-4"
      >
        <li><a href="#experiencia">Mi Experiencia</a></li>
        <li><a href="#habilidades">Know How</a></li>
        <!-- <li><a href="#">Proyectos</a></li> -->
      </ul>
    </div>
    <div
      class="md:w-4/12 w-1/3 md:ml-auto mt-2 lg:mt-0 mr-10 flex justify-end items-center lg:text-2xl"
    >
      <h1 class="rounded-xl border-2 w-32 lg:w-40 text-center bg-white">
        <a href="/CV.pdf" download="Zubieta_Mateo_CV.pdf"> Contactame </a>
      </h1>
    </div>
  </nav>
</header>
